body {
    font-family: 'Roboto', 'Arial', sans-serif;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: auto;

}

.header-block {
    padding-top: 40px;
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.nav-list {
    display: flex;
    justify-content: flex-end;

}


.list-item{
    list-style-type: none;
    padding: 10px 35px;
    cursor: pointer;
}

.active-link {
    border-bottom: 2px solid #717CFF;
    border-radius: 2px;
}

.list-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #373737;
}

.header-btn {
    width: 111px;
    height: 42px;
    border: 2px solid #717cff;
    border-radius: 11px;
    padding-top: 9px;
        
}

.header-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #505050;

}

.hero-big-block {
    display: flex;
    justify-content: space-between;
}

.hero-title {
    margin-right: 258px;
    margin-bottom: 15px;
    width: 436px;
    height: 154px;
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: #2f2f2f;
}

.activ-build {
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: #717cff;

}

.hero-text {
    margin-bottom: 42px;
    width: 632px;
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7d7d7d;
}

.hero-btn {
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 262px;
    height: 64px;
    background: #717CFF;
    border-radius: 11px;
    margin-bottom: 106px;

}

.btn-links {
    text-decoration: none;
    width: 138px;
    height: 40px;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #fff;
}

.btn-pic {
    margin-left: 29px;
    text-align: center;
}

.social-div {
    width: 113px;
    height: 31px;
}

.social-list {
    display: flex;
    justify-content: space-between;
}

.social-item {
    list-style-type: none;
}

.student-girl {
    margin-top: -20px;
}

.main-section {
    padding-bottom: 55px;
    background: #fafafa;
}

.main-title {
    padding-top: 55px;
    margin-bottom: 86px;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
    opacity: 0.73;
}

.block-list {
    margin-bottom: 104px;
}

.main-list {
    display: flex;
    justify-content: space-between;
}

.circle {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 107px;
}

.circle-btn {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: none;
    background-color: #d2d2d2;
}

.active {
    width: 12px;
    height: 12px;
    background-color: #717cff;
}

.services-section {
    padding-top: 122px;
}

.services-title {
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
    margin-bottom: 25px;
}

.services-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7d7d7d;
    margin-bottom: 110px;
}

.services-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 126px;
}

.services-item {
    width: 344px;
    height: 351px;
    background-color: #fff;
    box-shadow: 0px 4px 77px rgba(0, 0, 0.8, 0.06);
    border-radius: 15px;
    margin-bottom: 50px;
    padding: 30px;
}

.services-heading {
    margin-bottom: 9px;
    width: 279px;
    height: 37px;
}

.services-pic {
    margin-bottom: 30px;
    width: 76px;
    height: 76px;
}

.heading-par {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
    margin-bottom: 25px;
    width: 296px;
    height: 90px;
}

.services-link-block {
    display: flex;
    align-items: center;
}

.services-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717cff;
    margin-right: 20px;
}
.social-pic{
    width: 31px;
    height: 31px;
    align-items: center;
}
 .news-section{
    background-color: #fafafa;
 }

.news-block{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    justify-content: space-between;
    padding-top: 102px;
}

.news-title{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;

}

.news-paragraph{
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-bottom: 119px;

}

.news-img{
    
}

.news-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 146px;
}

.news-item{
    width: 344px;
    height: 406px;
    box-shadow: 0px 4px 77px rgba(0, 0, 0.8, 0.06);
    border-radius: 15px;
    margin-right: 46px;
    background-color: #fff;
}

.item-block{
    
}
.news-btn{
    border: none;
    width: 226px;
    height: 64px;
    display: flex;
    padding-left: 34px;
    align-items: center;
    background-color: #717CFF;
    border-radius: 11px;
    margin-bottom: 124px;
}

.events-div{
    padding-top: 98px;

}
.events-title{
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
    margin-bottom: 25px;
}
.events-paragraph{
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-bottom: 100px;
}

.events-list{
    display: flex;

}
.events-item{
    list-style-type: none;
    width: 540px;
    height: 308px;
    margin-right: 50px;
    background-color: #fff;
    box-shadow: 0px 4px 77px rgba(0, 0, 0.8, 0.06);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 81px;
    padding: 30px;
}
.right-div{
    display: flex;
    align-items: center;
    padding-bottom: 29px;
}
.right-img{

}
.events-subtitle{
    margin-left: 19px;
}

.list-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
    margin-bottom: 26px;
}
.left-div{
    display: flex;
    justify-content: space-between;

}

.more-btn{
    margin-right: 152px;

}

.btn-link{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717cff;
}

.more-btn{
align-items: center;


}

.btn-link{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;

}
.oclock{
    display: flex;

}
.second{
    margin-bottom: 108px;
}
.big-block{
    text-align: center;
}

.countries-block{

}

.countries-title{
    margin-bottom: 25px;

}

.countries-text{
    margin-bottom: 77px;

}

.countries-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.testimonial{
    margin-bottom: 142px;
}
.testimonial-title{
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}
.testimonial-text{
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
}

.reporter-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
}
.reporter-item{
    list-style-type: none;
    width: 503px;
    height: 332px;
    
    
}
.harrison-div{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.little-div{
    padding-left: 28px;
    
}

.big-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: rgba(55, 71, 79, 0.721569);
}
.aside-block{
   display: flex;
   justify-content: space-between;
}

.aside-text{
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #252525;
}
.footer-site{
    background-color: #717cff;
    height: 346px;
}
.footer-block{
    display: flex;
    justify-content: space-between;

}

.logo-img{
    margin-bottom: 26px;
}

.medium-list{
    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 49px;
    color: #EEEEEE;
}
.start-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;
    margin-bottom: 58px;
} 

.text-start{
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;

}
.finally-div{
    margin-top: 182px;
    margin-left: 150px;
    margin-bottom: 147px;
}
.footer-social{
    display: flex;
    justify-content: space-between;
    width: 98px;
    height: 17px;
}